
<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>오키도기 회사는</h2><br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
                </div>
                <div class="col-lg-4">
                    <p>인공지능을 통해 행동패턴을 학습하여 반려견이 현재 무엇을 원하고 어떤 상태인지 파악할 수 있습니다. 문제 행동을 파악하여 적절한 훈련 방법을 제시해주기 위한 솔루션을 연구하는 회사 입니다.</p>
                </div>

            </div>
        </div>
    </section>